@define-mixin clearfix {
  &::after {
    content:"";
    clear: both;
    display: table;
  }
}


@define-mixin atShort {
  @media screen and (max-height: 650px) {
    @mixin-content;
  }
}

@define-mixin atTall {
  @media screen and (min-height: 900px) {
    @mixin-content;
  }
}

@define-mixin atSmall {
  @media screen and (min-width: 450px) {
    @mixin-content;
  }
}

@define-mixin atMedium {
  @media screen and (min-width: 768px) {
    @mixin-content;
  }
}

@define-mixin atLarge {
  @media screen and (min-width: 1000px) {
    @mixin-content;
  }
}