.card {
  background: #FFF;
  border-radius: 1em 1em 0 0;
  padding: 1em 0;
  margin-top: -4em;
  transition: all 300ms ease-out;
  text-align: center;
  z-index: 2;

  h1 {
    margin-bottom: 1em;
  }

  &__section {
    align-items: center;
    display: flex;
    justify-content: space-around;
    
    div {
      display: flex;
      flex-direction: column;
      margin-bottom: 2em;
      margin-top: 0;

      h3, p {
        margin: 0;
      }

      h3 {
        margin-top: .5em;
        margin-bottom: .5em;   
        text-transform: uppercase;
      }

      p {
        text-transform: uppercase;
        font-size: .9em;
      }

    }
  }

  
}