.card {
  background: #FFF;
  border-radius: 1em;
  padding: 1em 0;
  transform: translateY(-10%);
  transition: all 300ms ease-out;
  text-align: center;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 1em 0;
  }
}