.card {
  background: #FFF;
  border-radius: 1em 1em 0 0;
  padding: 1em 0;
  margin-top: -4em;
  transition: all 300ms ease-out;
  text-align: center;
  z-index: 2;
  @mixin atShort {
    padding: .5em 0;
    font-size: .8em;
    margin-top: -3em;
  }

  @mixin atLarge {
    background-color: transparent;
    color: #FFF;
    margin-top: 0;
  }

  h1 {
    margin-bottom: 1em;
    @mixin atShort {
      margin-bottom: .5em;
    }
  }

  
  h2 {
    margin: .5em;
  }

  &__detail {
    color: #555;
    display: block;
    margin-bottom: 2em;
  }

  &__section {
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    &--main {
      margin-bottom: 3em;
    }
    
    div {
      display: flex;
      flex-direction: column;
      margin-bottom: 2em;
      flex-basis: 7.5em;
      margin-top: 0;

      h3, p {
        margin: 0;
      }

      h3 {
        margin-top: .5em;
        margin-bottom: .5em;   
        text-transform: uppercase;
      }

      p {
        text-transform: uppercase;
        font-size: .9em;
      }

    }
  }

}