.navigation {
  height: 50%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 300ms ease-out;
  width: 100%;
  @mixin atTall {
    height: 65%;
  }
  @mixin atLarge {
    height: 50%;
  }

  .container {
    height: 100%;
  }

  ul {
    display: flex;
    height: 100%;
    list-style: none;
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0;

    li {
      color: rgba(255, 255, 255, .8);
      cursor: pointer;
      font-size: 3em;
      position: relative;
      transition: all 300ms ease-out;

      width: 50%;
      -webkit-tap-highlight-color: transparent;

      .arrow {
        left: 0;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 50%;
        transform: translate(-0%, -50%);
        transition: all 300ms ease-out;
        &--active {
          animation: blinking 1s infinite alternate;
        }
      }

      &:last-child .arrow {
        left: initial;
        right: 0;
      }
    }
  }
}

@keyframes blinking {
  0%{opacity: 0}
  100% {opacity: 1}
}