.slideshow {
  background: rgba(0, 0, 0, .5);
  height: 50vh;
  overflow: hidden;
  position: relative;
  transition: all 300ms ease-out;
  z-index: -1;
  @mixin atTall {
    height: 65vh;
  }

  &__title {
    color: #FFF;
    font-weight: lighter;
    left: 50%;
    letter-spacing: .2em;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 15%;
    transform: translate(-50%, -50%);
    transition: all 300ms ease-out;
    text-transform: uppercase;
    @mixin atShort {
      font-size: 1.5em;
    }
  }

  i {
    font-size: 10em;
    color: #FFF;
    transition: all 300ms ease-out;
    @mixin atShort {
      font-size: 5em;
    }
    @mixin atTall {
      font-size: 17em;
    }
  }

  &__inner {
    display: flex;
    flex-shrink: 0;
    height: 100%;
    width: 200%;
    transition: all 300ms ease-out;
  }

  &__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
  }
}